<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ video.title }}</title>
  <meta name="google-site-verification" content="1F2yh1Rcbv93EGnJy4VIn8jIogElwgZoDiQj2jXunM0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <meta name="description" content="Your website's short summary with keywords.">
  <meta name="keywords" content="shinchan, cartoon, watch shinchan, anime, funny cartoon, kids anime">
  <meta name="author" content="Your Name">
  <link rel="canonical" href="https://shinchan-4wfq.onrender.com/">
  <meta name="robots" content="index, follow">
</head>
<body>
  <div class="container">
    <a href="{{ url_for('index') }}" class="back-link">←Home</a>
    <h1>{{ video.title }}</h1>
    <div class="video-player">
      <iframe src="{{ video.drive_url }}" width="100%" height="480" allow="autoplay" allowfullscreen></iframe>
    </div>
  </div>
</body>
</html>
